
@{
    ViewData["Title"] = "Gallary";
}




<div class="page-heading text-center">

    <div class="container zoomIn animated">

        <h1 class="page-title">GALLERY <span class="title-under"></span></h1>

        <p class="page-description">
            If you want happiness for a year, inherit a fortune. If you want happiness for a lifetime, help someone
            else.
        </p>
        <h1>"Spreading kindness, one act at a time"</h1>

    </div>

</div>

<div class="main-container">

    <div class="container gallery fadeIn animated">

        <div class="row">


            <a href="~/assets/images/gallery/7610291856_931fb9f461_k.jpg"
               class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/1..jpg" alt="">



            </a> <!-- /.gallery-item -->

            <a href="~/assets/images/gallery/children-82272_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/2.jpg" alt="">



            </a> <!-- /.gallery-item -->


            <a href="~/assets/images/gallery/human-rights.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/3.jpg" alt="">



            </a> <!-- /.gallery-item -->


            <a href="~/assets/images/gallery/old-books-436498_1280.jpg"
               class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/4.jpg" alt="">



            </a> <!-- /.gallery-item -->

            <a href="~/assets/images/gallery/hunger-682834_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/5.jpg" alt="">



            </a> <!-- /.gallery-item -->

            <a href="~/assets/images/gallery/africa-education.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/6.jpg" alt="">



            </a> <!-- /.gallery-item -->


            <a href="~/assets/images/gallery/afghani-60798_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/7.jpg" alt="">


            </a> <!-- /.gallery-item -->

            <a href="~/assets/images/gallery/boy-60729_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/8.jpg" alt="">



            </a> <!-- /.gallery-item -->


            <a href="~/assets/images/gallery/child-207573_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/" alt="">

                <span class="on-hover">
                    <span class="hover-caption">Image Caption</span>
                </span>

            </a> <!-- /.gallery-item -->



            <a href="~/assets/images/gallery/children-60654_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/" alt="">

                <span class="on-hover">
                    <span class="hover-caption">Image Caption</span>
                </span>

            </a> <!-- /.gallery-item -->

            <a href="~/assets/images/gallery/doll-87407_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/" alt="">

                <span class="on-hover">
                    <span class="hover-caption">Image Caption</span>
                </span>

            </a> <!-- /.gallery-item -->

            <a href="~/assets/images/gallery/girl-62328_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="~/assets/images/gallery/thumb/" alt="">

                <span class="on-hover">
                    <span class="hover-caption">Image Caption</span>
                </span>

            </a> <!-- /.gallery-item -->


        </div>

    </div>


</div> <!-- /.main-container  -->

