@model IEnumerable<HumanCare.Models.Ngo>

@{
    ViewData["Title"] = "NgoList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>NgoList</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-controller="Ngo"  asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Ngo"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
